.title {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.info {
    box-shadow: 5px 5px 5px 5px;
    margin: 10px;
    padding: 20px;
    background-color: aliceblue;
}

.moviecontainer {
    text-align: center;
    height: 100%;
    background-color: seashell;
    border: 15px solid black;
}

.imagediv {
    padding-top: 15px;
    padding-bottom: 15px;
}

.lendiv {
    padding-top: 15px;
    padding-bottom: 15px;
}

.ratediv {
    padding-top: 15px;
    padding-bottom: 15px;
}

.genrediv {
    padding-top: 15px;
    padding-bottom: 15px;
}